h1 {
text-align:center;
color:red;
}

h2 {
text-align:center;
text-decoration:underline;
}

p {
font-family:tahoma;
color:green;
}

ul {
font-style:italic;
}

ol {
font-weight:bold;
font-size:1.6em;
}